.menu {
    background-color: rgb(248, 220, 184);   
    
    /* background-color: rgba(209, 123, 10, 0.678);     */
    position: fixed;
    width: 20%;
    height: 100%;
    text-align: center;
    border-right: 2px solid black;
}

.lista {
    padding-top:50px;
}